<!DOCTYPE html>

<html>
    <head>
        <title>Number prediction using ML</title>
        <link rel="stylesheet" type="text/css" href="{{css_path}}">
    </head>
    <body>
        <h1>Number Predictor</h1>

        <div>
            <canvas id = "Drawzone" ></canvas>
        </div>

        <div>
            <button type = "button" id = "pred"> Submit </button>
        </div>
        <script src = "{{saver}}"></script>
        <script src = "{{drawpath}}"></script>
        
        <h1> prediction - {{prediction}}</h1>
    </body>
</html>